<div class="cart-page">
{% if itemCount %}
<h1>{{ page.title }}</h1>
{{ flash() }}

{% for item in items %}
<section class="cart">

  <div class="cart-item cart-image">
    <p><a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(160, 160)|default('http://placehold.it/160x160') }}"/></a></p>
  </div>
  <article class="cart-info">
    <div class="cart-item cart-title">
      <h6><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h6>
      {% set description = item.optionsString() %}
      {% if description %}
      <p>{{ description|unescape }}</p>
      {% endif %}
    </div>
    <div class="cart-item cart-quantity">
      <label for="item_quantity[{{ item.key }}]">Quantity</label>
      <input type="number" class="qty-field" name="item_quantity[{{ item.key }}]" value="{{ item.quantity }}">
    </div>
    <div class="cart-item cart-price">
      <div class="singel-price">
        <p>Price: {{ item.fullPrice()|currency }}</p>
        {% if cart.getDiscountTotal() > 0 %}
      	<p>{{ item.totalDiscount()|currency }}</p>
      	<p>Price: {{ item.price()|currency }}</p>
        {% endif %}
      </div>
      <div class="total-price">
        <h6>Total: {{ item.total()|currency }}</h6>
      </div>
      </div>
      <div class="cart-item cart-remove">
        <p>
          <a href="#" data-ajax-handler="shop:cart" {# data-ajax-confirm="Do you really want to remove this item from the cart?" #}
            data-ajax-update="#cart-content=partial-cart, #mini-cart=shop-minicart" data-ajax-extra-fields="delete_item='{{ item.key }}'">
            <span class="large-icon">☒</span> Remove</a>
        </p>
      </div>
  </article>
</section>
{% endfor %}
<section class="cart-discount">
  <label for="coupon">Enter discount code</label>
  <div class="input-discount">
    <input type="text" id="coupon" name="coupon" value="{{ coupon_code }}" placeholder="Discount code" />    
  </div>
</section>
<section class="cart-total-group">
  <h4>Subtotal: {{ totals.total|currency }}</h4>
  <div class="cart-button-group">
    <button class="update-btn"><a href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=partial-cart, #mini-cart=shop-minicart"> Update cart</a></button>
    <button><a href="{{ site_url('shop') }}">Continue shopping</a></button>
    <button class="checkout-btn"><a href="{{ site_url('/checkout') }}">Checkout &raquo;</a></button>
  </div>
</section>

	{% if totals.discountTotal > 0 %}
		<h4><strong>Coupon discount:</strong> {{ totals.discountTotal|currency }}</h4>
	{% endif %}

</div>

{% else %}
	<div class="cart-page">
    <h1>{{ page.title }}</h1>
    <h3>Your cart is empty!<a href="{{ site_url('shop') }}"> Continue shopping.</a></h3>
  </div>
{% endif %}
