---
action: 'shop:orders'
template: main
protocol: all
published: true
name: Orders
url: /orders
---
<div class="customer-page">
  <h1>{{ page.title }}</h1>
  
  {% if not orders or not orders.count %}
    <h3 class="flash info">Orders not found</h3>
  {% else %}
  
  <section class="old-order-list">
    <div class="order-list-title">
      <p>Order #</p>
      <p>Date</p>
      <p>Status</p>
      <p>Total</p>
    </div>
    
    <div class="order-list">
      {% for order in orders if not order.is_quote %}
      {% set url = root_url('/order/'~order.id) %}
      <p class="order-list-item"><span class="mobile-title">Order #: </span><a href="{{ url }}">{{ order.number }}</a></p>
      <p class="order-list-item"><span class="mobile-title">Date: </span><a href="{{ url }}">{{ order.created_at.format('M jS, Y') }}</a></p>
      <p class="order-list-item"><span class="mobile-title">Status: </span><a href="{{ url }}">{{ order.orderStatus.name }}</a></p>
      <p class="order-list-item order-list-total"><span class="mobile-title">Total: </span><a href="{{ url }}">{{ order.total|currency }}</a></p>
      {% endfor %}
    </div>
  </section>
  {% endif %}
</div>
