html {
  box-sizing: border-box;

}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: $color-bodybg;
  font-family: $fontfamily;
  font-size: 16px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

p {
  color: $text-dark;
  font-family: $fontfamily;
  line-height: 1.5;
}

h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
  font-family: $headline-fontfamily;
  font-weight: 400;
  line-height: 1;
  margin: .5rem 0 .8rem 0;
}

h1 {
  font-family: $headline-fontfamily;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -3px;
  color: $color-headlines;
  margin: 1rem 0 .4rem 0;

  @include breakpoint($small) {
    font-size: 4.768rem;
  }
}

h2 {
  font-size: 3.4em;
  font-weight: 700;
  color: $color-headlines;

  @include breakpoint($small) {
    font-size: 3.815rem;
  }
}

h3 {
  font-size: 2.8em;
  font-weight: 700;
  color: $color-headlines;

  @include breakpoint($small) {
    font-size: 3.052rem;
  }
}

h4 {
  font-size: 2.2em;
  font-weight: 800;

  @include breakpoint($small) {
    font-size: 2.441rem;
  }
}

h5 {
  font-size: 1.953em;
  font-weight: 800;
}

h6 {
  font-size: 1.563em;
  font-weight: 800;
}

a {
  color: $color-links;
  /*border-bottom: 1px solid lighten($color-primary, 50%);*/
  text-decoration: none;
}

a:hover {
  /*color: $color-primary;*/
}

ul {
  padding: 0;
  list-style: none; }

.product-added {
  color: #F0C332; }

s {
  text-decoration: line-through;
  color: $color-secondary;
}

.cart-item td {
  padding-right: 20px ; }

.error {
  color: red; }

#order-table {
  text-align: left; }

#order-table th {
  width: 100px; }

.rating span.select {
  color: transparent; }
.rating span.select:before {
  content: "\2605";
  position: absolute;
  color: gold; }
