/***************** BUTTONS ***********************/
button {
  @include btn-basic;
}

.button {
  @include btn-basic;
}

.checkout-btn {
  @include btn-basic;
  background-color: orange;

  a {
    color: $text-dark;
  }

  &:hover {
    background-color: rgb(218, 168, 77);
  }
}

.btn-addcart {
  @extend button;
}

.update-btn {
  @include btn-basic;
  margin-top: 1rem;
  background-color: $color-secondary;
  
  a {
      color: $text-dark;
    }
  
    &:hover {
      background-color: $color-primary;
    }

  @include breakpoint($medium) {
    margin-top: 0;
  }
}
