.collection-list {
  @include breakpoint($small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.collection-list_item {
  padding: 2rem;

  @include breakpoint($small) {
    border: 1px solid pink;
    flex: 0 1 33%;
  }
}

.productname-price {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.productlist {
  /*padding: 2rem;*/
  /*border: 1px solid lime;*/
  @include breakpoint($small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.productlist-item {
  border: 1px solid lime;
  flex: 0 1 33%;
}
