.customer-page {
  margin: 0 2rem;
}

.login-forms {
  /*border: 1px solid lime;*/
  display: flex;
  flex-direction: column;
  
  @include breakpoint($big) {
    flex-direction: row;
  }
}

.login-forms-item {
  /*border: 1px solid blue;*/
  margin: 0 1rem;
  
  p {
    border: 1px solid green;
    display: flex;
    
    label {
      flex: 1 1 30%;
    }
    
    input {
      flex: 1 1 70%;
    }
  }
}