input,
textarea,
select {
  font-size: 1rem;
  font-family: $fontfamily;
}

input,
textarea {
  padding: .3rem;
  border: 1px solid $text-medium;
  border-radius: 5px;
  background-color: lighten($color-secondary, 20%);
  min-width: 0;

  &.error {
    border: 1px solid $color-cta;
    color: $text-dark;
  }
}

.numberfield {
  width: 5rem;
}

label {
  margin-right: .3rem;
  /*margin-top: .4rem;*/
  font-size: .9rem;
}

input[type=submit] {
  @extend button;
  /*margin-left: -0.5rem;*/
}

select {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid $text-medium;
  background-color: lighten($color-secondary, 20%);
  background-image: url('../images/select-arrow-gray-2.png');
  background-position: center right 0.3em;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: .3rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  margin-right: .5rem;
}

.qty-field {
  width: 5rem;
}

/*----------------------- CHECKOUT AND ACCOUNT -------------------*/
.copy-info {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
}
.checkout-info,
.account-info {
  /*border: 1px solid lime;*/
  margin-bottom: 1rem;
}

.checkout-info-item,
.account-info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;

  .update-btn {
    /*display: inline-block;*/
    flex: 1 1 auto;
  }

  input,
  textarea,
  select {
    flex: 1 1 70%;
  }

  select {
    margin-right: 0;
    max-width: 100%;

    @include breakpoint($small) {
      max-width: 70%;
      overflow: hidden;
    }
  }

  label {
    flex: 1 1 30%;
  }

  @include breakpoint($small) {
    flex-direction: row;
    align-items: center;
  }
}

.full-width-button {
  text-align: center;
}

.payment-card-form {
  width: 70%;

  @include breakpoint($medium) {
    width: 50%;
  }
}

#payment_form {
  .form {
    li {
      margin-bottom: 1.2rem;
    }
    label {
      margin: 0.2rem 0 0.1rem 0;
    }
  }
}

.payment-method-radio {
  margin: 1rem 0;
}
