input,
textarea,
select {
  font-size: 1rem;
  font-family: $fontfamily;
}

input,
textarea {
  padding: .3rem;
  border: 1px solid $text-medium;
  border-radius: 5px;
  background-color: lighten($color-secondary, 20%);
  min-width: 0;
}

.numberfield {
  width: 5rem;
}

label {
  margin-right: .3rem;
  /*margin-top: .4rem;*/
  font-size: .9rem;
}

input[type=submit] {
  @extend button;
  /*margin-left: -0.5rem;*/
}

select {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid $text-medium;
  background-color: lighten($color-secondary, 20%);
  background-image: url("../images/select-arrow-gray.png");
  background-position: 90%;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: .3rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  margin-right: .5rem;
}

.qty-field {
  width: 5rem;
}
