header {
  @include breakpoint($small) {

  }

  @include breakpoint($medium) {

  }

  @include breakpoint($large) {

  }
}

nav {
  background-color: $color-primary;

  a {
    color: $text-light;

    &:hover {
      color: $color-secondary;
    }
  }
  .shopmenu {
    margin: 1rem 0 1rem 0;
  }

  .shopmenu-items {
    margin-left: .8rem;
  }
}

.mainmenu {
  li {
    font-weight: bold;
    line-height: 2;
  }
}

.customermenu {
  margin-top: 1rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .submit {
    flex: 1;
  }

  .field {
    flex: 3;
  }
}
