.container {
  border-left: 1px solid $color-secondary;
  border-right: 1px solid $color-secondary;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 120em;
  margin: auto;

  @include breakpoint($medium) {
    flex-direction: row;
  }
}

header {

  @include breakpoint($small) {

  }

  @include breakpoint($medium) {
    border-right: 1px solid $color-secondary;
    /*margin-right: 2rem;*/
    flex: none;
    width: 25%;
  }
}

main {
  flex: 5 1 75%;

  @include breakpoint($medium) {
    @include shadow;
  }
}

section {
  /*padding: 0 1rem 0 1rem;*/
}

.homebanner {
  padding: 0;
}

footer {
  border-top: 1px solid $color-primary;
  /*margin-top: 3rem;*/
  padding: 3rem;
}

.footerlinks-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .9rem;
  padding: 0 1rem;
}

nav {
  padding: 1rem;
  @include breakpoint($medium) {
    margin-top: 15vh;
    margin-right: -1px;
    border: 1px solid $color-secondary;
    border-left: 0;
    padding: 2rem 1rem 0 1rem;
  }
}

.featured-collection,
.featured-products {
  margin-top: 5rem;
  padding-left: 2rem;
}

.shop-intro {
  margin: 0 1rem;

  @include breakpoint($large) {
    width: 80%;
  }

  @include breakpoint($big) {
    width: 70%;
  }
}

.shopnow-button {
  text-align: right;
}

/*===================== Product page =======================*/
#product-page {
  /*border: 1px solid greenyellow;*/
  padding: 0 2rem;
}

.producttitle {
  /*border: 1px solid pink;*/
}

.productprice {
  /*border: 1px solid green;*/
}

.productratings {
  /*border-top: 1px solid $color-cta;*/
}

.productattributes {
  width: 90%;
  margin: auto;
  
  @include breakpoint($medium) {
    width: 70%;
    margin: inherit;
  }
}

.productoptions {
   /*border: 1px solid red;*/
  // flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  /*align-items: flex-end;*/
  
  @include breakpoint($medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.productoptions-item {
  // border: 1px solid blue;
  flex: 0 1 auto;
  margin-right: 1rem;

  label {
    white-space: nowrap;
    margin-bottom: .4rem;
  }
}

.add-button {
  @include breakpoint($large-big) {
    /*margin-left: auto;*/
  }
}

.productextras {
  /*border: 1px solid blue;*/
  /*height: 3rem;*/
}

.productdetails {
  @include breakpoint($medium) {
    width: 70%;
  }
}

.addtocart {
	/*border: 1px solid purple;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-end;*/
  margin: 1rem auto;
  width: 90%;
  
  @include breakpoint($medium) {
    width: 100%;
  }
  
  @include breakpoint($large) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
}

.addtocart-item {
  /*border: 1px solid tomato;*/
  /*flex: 1 1 auto;*/
  /*display: flex;*/
  /*flex-wrap: column;*/
  margin-bottom: 1rem;

  @include breakpoint($medium) {
    /*margin-right: 3rem;*/
  }
  
  @include breakpoint($large) {
    align-items: flex-end;
    /*display: flex;
    flex-wrap: wrap;*/
  }
}

/*.qty-control {
  border: 1px solid lime;
  display: flex;
  align-items: center;
  flex: 3 1 auto;

  .qty-control-item {
    border: 1px solid silver;
  }
}*/

.pictureblock {
  // border: 1px solid #333;

  @include breakpoint($medium) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.mainimage {
  // border: 1px solid lime;
  flex: 2;
}

.image-grid {
  // border: 1px solid red;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;

  @include breakpoint($medium) {
    flex-flow: column;
  }
}

.image-grid-item {
  // border: 1px dotted $color-secondary;
  /*flex: 1 1 0px;*/
  /*margin: 0 .3rem;*/

  @include breakpoint($medium) {
    flex: 1 1 0px;
    margin: .3rem;
  }
}

.product-review {
  padding: 0 2rem;
}
