/*===================== Product page =======================*/
#product-page {
  padding: 0 2rem;
}

.productattributes {
  width: 90%;
  margin: auto;

  @include breakpoint($medium) {
    width: 70%;
    margin: inherit;
  }
}

.productoptions {
  display: flex;
  flex-direction: column;

  @include breakpoint($medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.productoptions-item {
  // border: 1px solid blue;
  flex: 0 1 auto;
  margin-right: 1rem;

  label {
    white-space: nowrap;
    margin-bottom: .4rem;
  }
}

.add-button {
  margin-top: 2rem;
  
  @include breakpoint($medium) {
    margin-top: 1rem;
  }
  @include breakpoint($large-big) {
    // margin-top: 0;
  }
}

.productextras {
  
}

.productdetails {
  @include breakpoint($medium) {
    width: 70%;
  }
}

.addtocart {
	// border: 1px solid purple;
  margin: 1rem auto;
  text-align: center;
  width: 100%;

  @include breakpoint($medium) {
    width: 100%;
  }

  @include breakpoint($large) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
    text-align: left;
  }
}

.addtocart-item {
  // border: 1px solid tomato;
  margin-bottom: 1rem;

  @include breakpoint($large) {
    align-items: flex-end;
  }
}

.pictureblock {
  @include breakpoint($medium) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.mainimage {
  flex: 2;
}

.image-grid {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;

  @include breakpoint($medium) {
    flex-flow: column;
  }
}

.image-grid-item {

  @include breakpoint($medium) {
    flex: 1 1 0px;
    margin: .3rem;
  }
}

/*================== Review part ===============*/
.product-review {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.review-wrapper {
  
  @include breakpoint($large) {
    display: flex;
  }
}

.review-item {
  
  @include breakpoint($large) {
    margin-right: 2rem;
  }
}

.review-item p {
  display: flex;
  align-items: flex-start;
  
  label {
    flex: 1 1 4rem;
    white-space: nowrap;
  }
  
  input,
  textarea {
    flex: 1 1 auto;
  }
  
  .error {
    margin-left: 3px;
  }
}

.rating {
  margin-bottom: 1rem;
  
  .star {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}

.submit-button {
  text-align: right;
}

.upsell-collection {

}
