.intro {
  font-size: 1.2rem;
  line-height: 1.8;
}

.regular-price {
  color: $text-dark;
}

.oldprice {
  color: $color-primary;
  text-decoration: line-through;
}

.onsaleprice {
  /*border: 1px solid lightsalmon;
  color: $color-cta;*/
}

.product-name {
  font-weight: 700;
}

.breadcrumbs {
  ul {
  	display: flex;
  	margin-left: 2rem;
  	font-size: .9rem;
  }
}

.breadcrumbs :not(:last-child):after {
  content: ">";
  margin-left: 5px;
}

.crumb {
  margin: .3rem;
  /*display: inline; */
}

.outofstock {
  color: $color-primary;
}

.product-short {
  font-family: $fontfamily;
  font-size: 1.2rem;
  line-height: 1.8;
}

.micro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid $color-secondary;
  border-radius: 2px;
  cursor: pointer;
  font-size: .8em;
  color: $text-medium;
  margin-right: 1rem;
  width: 1.2rem;
}

.success {
  font-size: .8rem;
  background-color: $color-success;
  border: 1px solid darken($color-success, 20%);
  border-radius: 2px;
  color: $text-dark;
  padding: 3px;
  text-align: center;
}

span.error {
  font-size: .8rem;
  color: $color-cta;
  margin-left: 5px;
}

.large-icon {
  font-size: 1.3em;
}

.article-label {
  color: $text-medium;
}
