.intro {
  font-size: 1.2rem;
  line-height: 1.8;
}

.oldprice {
  color: $color-primary;
  text-decoration: line-through;
}

.onsaleprice {
  /*border: 1px solid lightsalmon;
  color: $color-cta;*/
}

.product-name {
  font-weight: 700;
}
