/* Coolors Exported Palette - coolors.co/020202-0d324d-7f5a83-a188a6-9da2ab */

/* HSL */
$color1: hsla(0%, 0%, 1%, 1);
$color2: hsla(205%, 71%, 18%, 1);
$color3: hsla(294%, 19%, 43%, 1);
$color4: hsla(290%, 14%, 59%, 1);
$color5: hsla(219%, 8%, 64%, 1);

/* RGB */
$color1: rgba(2, 2, 2, 1);
$color2: rgba(13, 50, 77, 1);
$color3: rgba(127, 90, 131, 1);
$color4: rgba(161, 136, 166, 1);
$color5: rgba(157, 162, 171, 1);