/*@import "bourbon";
@import "neat";*/
/*==================== Settings =========================================*/
/*$fontfamily: "SF UI Text", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

$headline-fontfamily: "SF UI Display", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;*/
/*==================== Grids with Breakpoint =============================*/
/*Breakpoint grid
@include breakpoint($small) {
  width: 50%;
}*/
/*Neat grids:
@include grid-media($my-grid) {
  border: 1px solid saddlebrown;
}*/
/*==================== Colors =============================================*/
/* City */
/*hsla(33, 42%, 96%, 1.00) */
/* Spring */
/*==================== Mixins =============================================*/
body, html {
  height: 100%;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px; }

img {
  max-width: 100%; }

figure {
  margin: 0; }

p {
  color: rgba(51, 59, 61, 0.9);
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5; }

h2,
h3,
h4,
h5,
h6 {
  color: rgba(51, 59, 61, 0.9);
  font-family: "Noto Serif", serif;
  font-weight: normal;
  line-height: 1;
  margin: .5rem 0 .8rem 0; }

h5,
h6 {
  font-family: "Noto Sans", sans-serif; }

h1 {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #728492;
  margin: 1rem 0 .4rem 0; }
  @media (min-width: 33em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 3.175em; }

h3 {
  font-size: 2.52em; }

h4 {
  font-size: 2em;
  font-weight: 500; }

h5 {
  font-size: 1.587em;
  font-weight: 500; }

h6 {
  font-size: 1.26em;
  font-weight: 500; }

a {
  color: #b90914;
  /*border-bottom: 1px solid lighten($color-primary, 50%);*/
  text-decoration: none; }

a:hover {
  /*color: $color-primary;*/ }

ul {
  padding: 0;
  list-style: none; }

/*ul ul {
  padding-left: 40px; }*/
.image-grid-item {
  display: inline-block; }

.product {
  display: inline-block; }

.product h2 {
  display: inline; }

.product-added {
  color: #F0C332; }

s {
  text-decoration: line-through;
  color: red; }

.breadcrumbs :not(:last-child):after {
  content: ">";
  margin-left: 5px; }

.crumb {
  display: inline; }

.cart-item td {
  padding-right: 20px; }

.error {
  color: red; }

#order-table {
  text-align: left; }

#order-table th {
  width: 100px; }

.rating span.select {
  color: transparent; }

.rating span.select:before {
  content: "\2605";
  position: absolute;
  color: gold; }

.intro {
  font-size: 1.2rem;
  line-height: 1.8; }

.oldprice {
  color: #728492;
  text-decoration: line-through; }

.onsaleprice {
  /*border: 1px solid lightsalmon;
  color: $color-cta;*/ }

.product-name {
  font-weight: 700; }

/***************** BUTTONS ***********************/
button, input[type=submit] {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  margin: .4em;
  padding: .5em 1.5em .4em 1.5em;
  -webkit-appearence: none; }
  button:hover, input[type=submit]:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  button:active, input[type=submit]:active {
    background: #6d8788;
    box-shadow: none; }
  button a, input[type=submit] a {
    color: rgba(255, 255, 255, 0.9); }

.button {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  margin: .4em;
  padding: .5em 1.5em .4em 1.5em;
  -webkit-appearence: none; }
  .button:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  .button:active {
    background: #6d8788;
    box-shadow: none; }
  .button a {
    color: rgba(255, 255, 255, 0.9); }

input,
textarea,
select {
  font-size: 1em; }

input {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  padding: .3rem;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background-color: #ebefef;
  width: 100%; }

input[type=submit] {
  margin-left: -0.5rem; }

.container {
  border-left: 1px solid #b3c1c2;
  border-right: 1px solid #b3c1c2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 120em;
  margin: auto; }
  @media (min-width: 43em) {
    .container {
      flex-direction: row; } }

header {
  /*padding-top: 1rem;*/ }
  @media (min-width: 43em) {
    header {
      border-right: 1px solid #b3c1c2;
      /*margin-right: 2rem;*/
      flex: 1 1 25%; } }

main {
  flex: 5 1 75%; }

section {
  padding: 0 1rem 0 1rem; }

.homebanner {
  padding: 0; }

footer {
  border-top: 1px solid #728492;
  /*margin-top: 3rem;*/
  padding: 3rem; }

.footerlinks-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: .9rem;
  padding: 0 1rem; }

@media (min-width: 43em) {
  nav {
    margin-top: 15vh;
    margin-right: -1px;
    border: 1px solid #b3c1c2;
    border-left: 0;
    padding: 2rem 1rem 0 1rem; } }

.featured-collection,
.featured-products {
  margin-top: 5rem; }

.shop-intro {
  margin: 0 auto; }
  @media (min-width: 55em) {
    .shop-intro {
      width: 80%; } }
  @media (min-width: 75em) {
    .shop-intro {
      width: 70%; } }

.shopnow-button {
  text-align: right; }

nav {
  background-color: #728492; }
  nav a {
    color: rgba(255, 255, 255, 0.9); }
    nav a:hover {
      color: #b3c1c2; }
  nav .shopmenu {
    margin: 1rem 0 1rem 0; }
  nav .shopmenu-items {
    margin-left: .8rem; }

.mainmenu li {
  font-weight: bold;
  line-height: 2; }

.customermenu {
  margin-top: 1rem; }

.search {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .search .submit {
    flex: 1; }
  .search .field {
    flex: 3; }

@media (min-width: 33em) {
  .collection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.collection-list_item {
  padding: 2rem; }
  @media (min-width: 33em) {
    .collection-list_item {
      flex: 0 1 33%; } }

.productname-price {
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.productlist {
  padding: 0; }
  @media (min-width: 33em) {
    .productlist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }

.productlist-item {
  flex: 0 1 33%;
  padding: 2rem; }
