/*==================== Settings =========================================*/
/*$fontfamily: "SF UI Text", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

$headline-fontfamily: "SF UI Display", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;*/
/*==================== Grids with Breakpoint =============================*/
/*Breakpoint grid
@include breakpoint($small) {
  width: 50%;
}*/
/*Neat grids:
@include grid-media($my-grid) {
  border: 1px solid saddlebrown;
}*/
/*==================== Colors =============================================*/
/* City */
/*hsla(33, 42%, 96%, 1.00) */
/* Spring */
/*==================== Mixins =============================================*/
html {
  box-sizing: border-box; }

body {
  height: 100%;
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

p {
  color: rgba(51, 59, 61, 0.9);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #728492;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: .5rem 0 .8rem 0; }

h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -3px;
  margin: 1rem 0 .4rem 0; }
  @media (min-width: 33em) {
    h1 {
      font-size: 4.768rem; } }

h2 {
  font-size: 3.4rem; }
  @media (min-width: 33em) {
    h2 {
      font-size: 3.815rem; } }

h3 {
  font-size: 2.8rem; }
  @media (min-width: 33em) {
    h3 {
      font-size: 3.052rem; } }

h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: rgba(51, 59, 61, 0.9); }
  @media (min-width: 33em) {
    h4 {
      font-size: 2.441rem; } }

h5 {
  color: rgba(51, 59, 61, 0.9);
  font-size: 1.853rem;
  font-weight: 900; }

h6 {
  color: rgba(51, 59, 61, 0.9);
  font-size: 1.563rem;
  font-weight: 900; }

a {
  color: #b90914;
  /*border-bottom: 1px solid lighten($color-primary, 50%);*/
  text-decoration: none; }

a:hover {
  /*color: $color-primary;*/ }

ul {
  padding: 0;
  list-style: none; }

.product-added {
  color: #F0C332; }

s {
  text-decoration: line-through;
  color: #b3c1c2; }

.cart-item td {
  padding-right: 20px; }

.error {
  color: red; }

#order-table {
  text-align: left; }

#order-table th {
  width: 100px; }

.rating span.select {
  color: transparent; }

.rating span.select:before {
  content: "\2605";
  position: absolute;
  color: gold; }

.intro {
  font-size: 1.2rem;
  line-height: 1.8; }

.regular-price {
  color: rgba(51, 59, 61, 0.9); }

.oldprice {
  color: #728492;
  text-decoration: line-through; }

.onsaleprice {
  /*border: 1px solid lightsalmon;
  color: $color-cta;*/ }

.product-name {
  font-weight: 700; }

.breadcrumbs ul {
  display: flex;
  margin-left: 2rem;
  font-size: .9rem; }

.breadcrumbs :not(:last-child):after {
  content: ">";
  margin-left: 5px; }

.crumb {
  margin: .3rem;
  /*display: inline; */ }

.outofstock {
  color: #728492; }

.product-short {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8; }

.micro {
  border: 1px solid #b3c1c2;
  border-radius: 2px;
  cursor: pointer;
  font-size: .8em;
  color: rgba(33, 33, 33, 0.54);
  margin-left: 1rem;
  padding: 0 .3rem; }

.success {
  font-size: .8rem;
  background-color: rgba(13, 165, 89, 0.5);
  border-top: 1px solid rgba(2, 24, 13, 0.5);
  border-bottom: 1px solid rgba(2, 24, 13, 0.5);
  /*border-radius: 2px;*/
  color: rgba(51, 59, 61, 0.9);
  padding: 3px;
  text-align: center; }

span.error {
  font-size: .8rem;
  /*background-color: lighten($color-secondary, 20%);
  border: 1px solid $color-cta;
  border-radius: 2px;*/
  color: #b90914;
  /*padding: 3px;
  text-align: center;*/
  margin-left: 5px; }

.large-icon {
  font-size: 1.3em; }

/***************** BUTTONS ***********************/
button, .btn-addcart, input[type=submit] {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  /*margin: .4em;*/
  padding: .4em 1.5em .4em 1.5em;
  -webkit-appearence: none;
  appearance: none;
  white-space: nowrap; }
  button:hover, .btn-addcart:hover, input[type=submit]:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  button:active, .btn-addcart:active, input[type=submit]:active {
    background: #6d8788;
    box-shadow: none; }
  button a, .btn-addcart a, input[type=submit] a {
    color: rgba(255, 255, 255, 0.9); }

.button {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  /*margin: .4em;*/
  padding: .4em 1.5em .4em 1.5em;
  -webkit-appearence: none;
  appearance: none;
  white-space: nowrap; }
  .button:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  .button:active {
    background: #6d8788;
    box-shadow: none; }
  .button a {
    color: rgba(255, 255, 255, 0.9); }

.checkout-btn {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  /*margin: .4em;*/
  padding: .4em 1.5em .4em 1.5em;
  -webkit-appearence: none;
  appearance: none;
  white-space: nowrap;
  background-color: #008809;
  color: rgba(255, 255, 255, 0.9); }
  .checkout-btn:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  .checkout-btn:active {
    background: #6d8788;
    box-shadow: none; }
  .checkout-btn a {
    color: rgba(255, 255, 255, 0.9); }
  .checkout-btn a {
    color: rgba(255, 255, 255, 0.9); }
  .checkout-btn:hover {
    background-color: #006d07; }

.full-width-button {
  display: flex;
  justify-content: center; }
  .full-width-button * {
    flex: 0; }

.very-large-btn {
  background-color: #008809;
  font-size: 2rem; }

.update-btn {
  background: #b90914;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.54);
  /*margin: .4em;*/
  padding: .4em 1.5em .4em 1.5em;
  -webkit-appearence: none;
  appearance: none;
  white-space: nowrap;
  margin-top: 1rem;
  background-color: #b3c1c2; }
  .update-btn:hover {
    background: #70050c;
    /*color: $text-light;*/ }
  .update-btn:active {
    background: #6d8788;
    box-shadow: none; }
  .update-btn a {
    color: rgba(255, 255, 255, 0.9); }
  .update-btn a {
    color: rgba(51, 59, 61, 0.9); }
  .update-btn:hover {
    background-color: #728492; }
  @media (min-width: 43em) {
    .update-btn {
      margin-top: 0; } }

.ghost-btn {
  border: 1px solid #b3c1c2;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: .4em 1.5em .4em 1.5em;
  background-color: #fff; }
  .ghost-btn a {
    color: rgba(51, 59, 61, 0.9); }
  .ghost-btn:hover {
    background-color: #b3c1c2; }
  @media (min-width: 43em) {
    .ghost-btn {
      margin-top: 0; } }

input,
textarea,
select {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }

input,
textarea {
  padding: .3rem;
  border: 1px solid rgba(33, 33, 33, 0.54);
  border-radius: 5px;
  background-color: #ebefef;
  min-width: 0; }
  input.error,
  textarea.error {
    border: 1px solid #b90914;
    color: rgba(51, 59, 61, 0.9); }

.numberfield {
  width: 5rem; }

label {
  margin-right: .3rem;
  /*margin-top: .4rem;*/
  font-size: .9rem; }

input[type=submit] {
  /*margin-left: -0.5rem;*/ }

select {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.54);
  background-color: #ebefef;
  background-image: url("../images/select-arrow-gray.png");
  background-position: 90%;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: .3rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  margin-right: .5rem; }

.qty-field {
  width: 5rem; }

/*----------------------- CHECKOUT AND ACCOUNT -------------------*/
.copy-info {
  margin: 2rem 0;
  text-align: center;
  width: 100%; }

.checkout-info,
.account-info {
  /*border: 1px solid lime;*/
  margin-bottom: 1rem; }

.checkout-info-item,
.account-info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem; }
  .checkout-info-item .update-btn,
  .account-info-item .update-btn {
    /*display: inline-block;*/
    flex: 1 1 auto; }
  .checkout-info-item input,
  .checkout-info-item textarea,
  .checkout-info-item select,
  .account-info-item input,
  .account-info-item textarea,
  .account-info-item select {
    flex: 1 1 70%; }
  .checkout-info-item select,
  .account-info-item select {
    margin-right: 0;
    max-width: 100%; }
    @media (min-width: 33em) {
      .checkout-info-item select,
      .account-info-item select {
        max-width: 70%;
        overflow: hidden; } }
  .checkout-info-item label,
  .account-info-item label {
    flex: 1 1 30%; }
  @media (min-width: 33em) {
    .checkout-info-item,
    .account-info-item {
      flex-direction: row;
      align-items: center; } }

.full-width-button {
  text-align: center; }

.payment-card-form {
  width: 70%; }
  @media (min-width: 43em) {
    .payment-card-form {
      width: 50%; } }

#payment_form .form li {
  margin-bottom: 1.2rem; }

#payment_form .form label {
  margin: 0.2rem 0 0.1rem 0; }

.payment-method-radio {
  margin: 1rem 0; }

.container {
  border-left: 1px solid #b3c1c2;
  border-right: 1px solid #b3c1c2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 120em;
  margin: auto; }
  @media (min-width: 43em) {
    .container {
      flex-direction: row; } }

@media (min-width: 43em) {
  header {
    border-right: 1px solid #b3c1c2;
    /*margin-right: 2rem;*/
    flex: none;
    width: 25%; } }

main {
  flex: 5 1 75%; }
  @media (min-width: 43em) {
    main {
      box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2); } }

.homebanner {
  padding: 0; }

footer {
  border-top: 1px solid #728492;
  margin-top: auto;
  padding: 3rem; }

.footerlinks-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: .9rem;
  padding: 0 1rem; }
  .footerlinks-store li {
    flex: 0 1 4rem;
    margin: 0 1rem; }

.copyright {
  text-align: center;
  font-size: .7rem; }

nav {
  padding: 1rem; }
  @media (min-width: 43em) {
    nav {
      margin-top: 15vh;
      margin-right: -1px;
      border: 1px solid #b3c1c2;
      border-left: 0;
      padding: 2rem 1rem 0 1rem; } }

.featured-collection,
.featured-products {
  margin-top: 5rem;
  padding-left: 2rem; }

.shop-intro {
  margin: 0 1rem; }
  @media (min-width: 53em) {
    .shop-intro {
      width: 80%; } }
  @media (min-width: 75em) {
    .shop-intro {
      width: 70%; } }

.shopnow-button {
  text-align: right; }

.category-page,
.customer-page,
.cart-page,
.checkout-page,
.receipt-page,
.account-page {
  margin: 0 2rem 1rem 2rem; }

.flash-message {
  background-color: rgba(179, 193, 194, 0.4);
  /*filter: blur(3px);*/
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%; }

nav {
  background-color: #728492;
  border-top: 10px solid #455059; }
  nav a {
    color: rgba(255, 255, 255, 0.9); }
    nav a:hover {
      color: #b3c1c2; }
  nav .shopmenu {
    margin: 1rem 0 1rem 2rem;
    text-transform: uppercase; }
  nav .shopmenu-items {
    text-transform: initial;
    padding-left: .5rem; }
    nav .shopmenu-items a {
      display: block;
      padding: .1rem;
      border-bottom: 1px solid #80919d; }

.shopmenu-items .shopmenu-items a {
  color: rgba(217, 217, 217, 0.9); }

#logo {
  text-align: center; }
  @media (min-width: 43em) {
    #logo {
      text-align: left; } }

.mainmenu li {
  font-weight: bold;
  line-height: 2.5; }

.menu-link {
  margin-left: 2rem; }

.customermenu {
  margin-top: 1rem;
  margin-left: 2rem; }

.search {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 33em) {
    .search {
      flex-direction: row;
      align-items: flex-start; } }
  @media (min-width: 43em) {
    .search {
      flex-direction: column; } }
  @media (min-width: 75em) {
    .search {
      flex-direction: row;
      align-items: center; } }
  .search .field {
    flex: 1 1 0px;
    max-width: 100%; }

.submit {
  /*flex: none;*/
  /*width: 50%;*/
  flex-basis: auto;
  margin: 1rem auto; }
  @media (min-width: 33em) {
    .submit {
      margin: 0;
      /*width: 30%;*/
      /*flex-basis: auto;*/ } }
  @media (min-width: 43em) {
    .submit {
      margin-top: .5rem; } }
  @media (min-width: 75em) {
    .submit {
      margin-left: -1rem;
      margin-top: 0; } }

@media (min-width: 33em) {
  .collection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.collection-list_item {
  padding: 1rem; }
  @media (min-width: 33em) {
    .collection-list_item {
      flex: 0 1 30%; } }

.productname-price {
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.productlist {
  padding: 0; }
  @media (min-width: 33em) {
    .productlist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }

.productlist-item {
  flex: 0 1 33%;
  padding: 2rem; }

.topmenu-category {
  background-color: #ebefef; }

.top-category {
  border-bottom: 1px solid #cfd8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 43em) {
    .top-category {
      flex-direction: row;
      flex-wrap: wrap; } }

.top-category-item {
  border-bottom: 1px solid #cfd8d8;
  flex: 1 1 auto;
  margin: 0 1rem;
  padding: .6rem; }
  .top-category-item h6 {
    margin: 0; }
  .top-category-item:last-of-type {
    border-bottom: none; }
  @media (min-width: 43em) {
    .top-category-item {
      border-left: 1px solid #cfd8d8;
      border-bottom: none; } }

.childmenu .top-category {
  border-bottom: none;
  flex-direction: column; }

.childmenu .top-category .top-category-item {
  border: none;
  box-shadow: none;
  flex: 1;
  margin-bottom: 0;
  padding: .3rem 0; }
  .childmenu .top-category .top-category-item h6 {
    font-size: 1.1em;
    margin: 0; }

.childmenu {
  display: none; }

.show {
  display: block; }

/*===================== Product page =======================*/
#product-page {
  /*border: 1px solid greenyellow;*/
  padding: 0 2rem; }

.producttitle {
  /*border: 1px solid pink;*/ }

.productprice {
  /*border: 1px solid green;*/ }

.productratings {
  /*border-top: 1px solid $color-cta;*/ }

.productattributes {
  width: 90%;
  margin: auto; }
  @media (min-width: 43em) {
    .productattributes {
      width: 70%;
      margin: inherit; } }

.productoptions {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  /*align-items: flex-end;*/ }
  @media (min-width: 43em) {
    .productoptions {
      flex-direction: row;
      flex-wrap: wrap; } }

.productoptions-item {
  flex: 0 1 auto;
  margin-right: 1rem; }
  .productoptions-item label {
    white-space: nowrap;
    margin-bottom: .4rem; }

@media (min-width: 58em) {
  .add-button {
    /*margin-left: auto;*/ } }

.productextras {
  /*border: 1px solid blue;*/
  /*height: 3rem;*/ }

@media (min-width: 43em) {
  .productdetails {
    width: 70%; } }

.addtocart {
  /*border: 1px solid purple;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-end;*/
  margin: 1rem auto;
  width: 90%; }
  @media (min-width: 43em) {
    .addtocart {
      width: 100%; } }
  @media (min-width: 53em) {
    .addtocart {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2rem auto; } }

.addtocart-item {
  /*border: 1px solid tomato;*/
  /*flex: 1 1 auto;*/
  /*display: flex;*/
  /*flex-wrap: column;*/
  margin-bottom: 1rem; }
  @media (min-width: 53em) {
    .addtocart-item {
      align-items: flex-end;
      /*display: flex;
    flex-wrap: wrap;*/ } }

@media (min-width: 43em) {
  .pictureblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }

.mainimage {
  flex: 2; }

.image-grid {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0; }
  @media (min-width: 43em) {
    .image-grid {
      flex-flow: column; } }

.image-grid-item {
  /*flex: 1 1 0px;*/
  /*margin: 0 .3rem;*/ }
  @media (min-width: 43em) {
    .image-grid-item {
      flex: 1 1 0px;
      margin: .3rem; } }

/*================== Review part ===============*/
.product-review {
  padding: 0 2rem;
  margin-bottom: 2rem; }

.review-wrapper {
  /*border: 1px solid tomato;*/ }
  @media (min-width: 53em) {
    .review-wrapper {
      display: flex; } }

.review-item {
  /*border: 1px solid orange;*/ }
  @media (min-width: 53em) {
    .review-item {
      margin-right: 2rem; } }

.review-item p {
  display: flex;
  align-items: flex-start; }
  .review-item p label {
    flex: 1 1 4rem;
    white-space: nowrap; }
  .review-item p input,
  .review-item p textarea {
    flex: 1 1 auto; }
  .review-item p .error {
    /*font-size: .8rem;*/
    margin-left: 3px; }

.rating {
  margin-bottom: 1rem; }

.login-forms {
  display: flex;
  flex-direction: column; }
  @media (min-width: 75em) {
    .login-forms {
      flex-direction: row; } }

.login-forms-item {
  flex: 1 1 auto;
  margin: 0 2rem; }
  .login-forms-item .input-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0; }
    .login-forms-item .input-component label {
      flex: 1 1 40%; }
    .login-forms-item .input-component input {
      flex: 1 1 55%; }
    .login-forms-item .input-component span {
      flex: 1 1 auto;
      font-size: .7rem;
      padding-left: .2rem; }

.input-component:last-of-type {
  margin-bottom: 1rem; }

.right-button {
  display: block;
  margin-bottom: 2rem;
  text-align: right;
  width: 99%; }

.cart {
  /*border: 1px solid rebeccapurple;*/ }
  @media (min-width: 33em) {
    .cart {
      display: flex; } }

@media (min-width: 33em) {
  .cart-info {
    flex: 2;
    margin-left: .4rem; } }

.cart-image {
  text-align: center; }
  .cart-image img {
    border: 1px solid #b3c1c2; }
  @media (min-width: 33em) {
    .cart-image {
      flex: 1; } }

.cart-item h6 {
  margin-top: 0; }

.cart-remove {
  border-bottom: 1px solid #ebefef;
  margin-bottom: 1rem;
  text-align: center; }
  @media (min-width: 33em) {
    .cart-remove {
      text-align: right;
      /*border-bottom: none;*/ } }

.cart-price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }
  .cart-price h6 {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0; }
  .cart-price p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0; }

.cart-discount {
  margin-bottom: 2rem; }

.input-discount {
  /*border: 1px solid tomato;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 43em) {
    .input-discount {
      flex-direction: row; } }
  .input-discount #coupon {
    flex: 0 0 60%;
    max-width: 20rem; }
  .input-discount .update-btn {
    flex: 0; }

.cart-total-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  @media (min-width: 43em) {
    .cart-total-group {
      align-content: center;
      flex-direction: row; } }

.cart-button-group {
  margin-top: 1rem;
  text-align: center; }
  .cart-button-group button, .cart-button-group .btn-addcart, .cart-button-group input[type=submit] {
    margin-top: 1rem; }
    @media (min-width: 43em) {
      .cart-button-group button, .cart-button-group .btn-addcart, .cart-button-group input[type=submit] {
        margin-left: 1rem;
        margin-top: 0;
        margin-bottom: .6rem; } }
  @media (min-width: 43em) {
    .cart-button-group {
      margin-top: 0;
      text-align: right; } }

.recepie {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 33em) {
    .recepie {
      width: 80%; } }

.recepie-item-title {
  display: none; }
  @media (min-width: 33em) {
    .recepie-item-title {
      display: block;
      font-weight: 700;
      /*border-bottom: 1px solid $color-primary;*/ } }

.recepie-item-title_mobil {
  font-weight: 700; }
  @media (min-width: 33em) {
    .recepie-item-title_mobil {
      display: none; } }

.recepie-item {
  border-bottom: 1px solid #b3c1c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.4rem 0; }
  .recepie-item .recepie-item-line {
    flex: 1 1 0px;
    margin: .2rem 0; }
  @media (min-width: 33em) {
    .recepie-item {
      flex-direction: row; } }

.align-right {
  text-align: right; }

.recepie-summary {
  margin-bottom: 2rem;
  width: 100%; }
  @media (min-width: 33em) {
    .recepie-summary {
      width: 80%; } }

.recepie-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem; }

.recepie-total-item {
  border-bottom: 1px solid #b3c1c2;
  flex: 1 1 auto; }
  .recepie-total-item:last-of-type {
    text-align: right; }
