---
action: 'shop:receipt'
template: main
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---
<div class="receipt-page">
  {% if invoice %}
    <h1>Thanks For Your Order!</h1>
    <p>You're order number is <strong>{{ invoice.order.number }}</strong>. Look for a confirmation email soon. Questions?</p>
    <p><strong>Customer Service</strong>: support@lemonstand.com or 1-855-332-0555</p>
    <p><strong>Order Date: </strong> {{ invoice.order.created_at.format('M jS, Y') }}</p>
    <p><strong>Payment method: </strong> {{ payment.guessPaymentMethod().name }}</p>

    <ul class="recepie">
      <li class="recepie-item recepie-title">
        <span class="recepie-item-title">Product</span>
        <span class="recepie-item-title align-right">Quantity</span>
        <span class="recepie-item-title align-right">Total</span>
      </li>
       {% for shipment in invoice.shipments %}
       {% for item in shipment.shipmentItems %}
        <li class="recepie-item">
          <span class="recepie-item-line"><span class="recepie-item-title_mobil">Product: </span>{{ item.product.name }}</span>
          <span class="recepie-item-line align-right"><span class="recepie-item-title_mobil">Quantity: </span>{{ item.quantity|number_format(0) }}</span>
          <span class="recepie-item-line align-right"><span class="recepie-item-title_mobil">Total: </span>{{ (item.quantity *item.pivot.price)|currency }}</span>
        </li>
       {% endfor %}
       {% endfor %}
    </ul>

      <section class="recepie-summary">
        {% if invoice.isPaid() %}
        {% if invoice.getDiscountTotal() > 0 %}
          <div class="recepie-total">
            <span class="recepie-total-item">Discount: </span><span class="recepie-total-item">{{ invoice.getDiscountTotal()|currency }}</span>
          </div>
        {% endif %}
        <div class="recepie-total">
          <span class="recepie-total-item">Subtotal: </span><span class="recepie-total-item">{{ invoice.subtotal|currency }}</span></div>
        <div class="recepie-total">
          <span class="recepie-total-item">Shipping: </span><span class="recepie-total-item">{{ invoice.total_shipping_quote|currency }}</span>
        </div>
        <div class="recepie-total">
          <span class="recepie-total-item">Tax: </span><span class="recepie-total-item">{{ invoice.tax_total|currency }}</span>
        </div>
        <div class="recepie-total">
          <span class="recepie-total-item-last">Total: </span><span class="recepie-total-item-last">{{ invoice.total|currency }}</span>
        </div>
      </section>

      <button><a href="{{ site_url('shop') }}">Continue Shopping &raquo;</a></button>

    {% else %}
      <h3><a href="{{ site_url('review/'~order.order_hash) }}">Place order</a></h3>
    {% endif %}

  </div>

  {% else %}
    <p class="flash error">Invoice not found.</p>
  {% endif %}
</div>
