---
action: 'shop:products'
template: main
protocol: all
published: true
name: Alice Four
url: /
---
<section class="homebanner">
  {{ partial("partial-homebanner") }}
</section>

<section>
  <article class="shop-intro">
    <h1>{{ theme.homeHeadline }}</h1>
    <p class="intro">{{ theme.homeIntro }}</p>
    <div class="shopnow-button">
      <button><a href="/shop">Shop Now &raquo;</a></button>
    </div>
  </article>

  <article class="featured-collection">
    <h4>Developers favorites</h4>
    {% set featuredCollection = 'display'|collection %}
    {% paginate featuredCollection.products by 3 %}
      <ul class="collection-list">
      {% for product in pagination.items %}
        {% set on_sale = product.onSale %}

        <li class="collection-list_item">
          <figure>
            <a href="/product/{{ product.url_name }}"><img src="{{ product.images.first.thumbnail('400', '400')|default('http://placehold.it/400x400') }}" alt="{{ product.images.first.description }}" title="{{ product.images.first.title }}"/></a>
            <figcaption class="xproductname-price">
              <h6 class="product-name"><a href="/product/{{ product.url_name }}">{{ product.name }}</a></h6>
              <h5>{{ product.price|currency }}</h5>
              {% if on_sale %}
                <h5 class="salesprice">{{ product.fullPrice|currency }}</h5>
              {% endif %}
            </figcaption>
          </figure>
        </li>

      {% endfor %}
      </ul>
    {% endpaginate %}
  </article>


<!--<section>
  <h6>How Does It Work?</h6>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
</section>-->
<article class="featured-products">
  <h4>Check These Out</h4>
  <!--<h5>Set up a featured collection below by using the API code <strong>featured</strong>.</h5>-->
<section class="productlist">
  {% set featuredCollection = 'featured'|collection %}
  {% paginate featuredCollection.products by 6 %}
    {% for product in pagination.items %}
      {% set on_sale = product.onSale %}

        <div class="product productlist-item">
          <a href="/product/{{ product.url_name }}">
            <img src="{{ product.images.first.thumbnail('280', '280') }}" >
          </a>
            <h6 class="product-name"><a href="/product/{{ product.url_name }}" class="btn btn-default">{{ product.name }}</a></h6>
            <h5 class="salesprice">{{ product.price|currency }}
            {% if on_sale %}
              <span class="oldprice">{{ product.fullPrice|currency }}</span></h5>
            {% endif %}
        </div>

    {% endfor %}
  {% endpaginate %}
  </section>
</aricle>
</section>
